{% extends "easyanalytics/base.html" %}


{% block content %}
<html>
<head>
	<title>Sales By Product</title>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

	<h1>Sales By Product</h1>

    <div class="chart">
        {{ plots|safe }}
        <a href="{% url 'easyanalytics-create_post' %}" class="btn btn-primary mt-2">Share</a>
      </div>
      <br>

    <div class="table">
        {{ table|safe }}
        <!-- <a href="{% url 'easyanalytics-create_post' %}" class="btn btn-primary mt-2">Share</a> -->
    </div>
	</script>

</body>
</html>

{% endblock %}
